body {
  background-color: lightgreen;
}

.weather {
  font-size: 20px;
}

#wicon {
  width: 30px;
  height: 30px;
  margin: 0px;
}

.card-panel {
  height: 300px;
}

.profile {
  width: 200px;
  height: 150px;
  border: 1 px black solid;
  margin-left: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* THIS IS WHAT MAKES THINGS HAPPEN AT A PARTICULAR WIDTH */
@media (max-width: 40em) {
  .climate {
    display: none;
  }
}

@media (max-width: 40em) {
  .card-panel {
    font-size: 2.75vw;
  }
}