* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: lightgreen;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}

.wrapper {
  display: none;
}

.card {
  background-color: darkslateblue;
  margin: auto;
}

.navbar {
  margin: auto;
  background: darkslateblue;
  width: 80%;
  border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px cyan;
}

img {
  padding-top: 6px;
  padding-left: 4px;
}

button {
  color: white;
  background-color: darkslateblue;
  width: 100px;
  font-size: 24px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px cyan;
  float: right;
  line-height: 80%;
}

.i-body,
.p-body {
  background-image: url(./assets/background/blackpaper-hires.jpg);
}

body {
  color: white;
  margin: auto;
  margin-top: 10px;
  max-width: 1500px;
  background-color: black;
}

.aboutside {
  margin-left: 30px;
  margin-right: 30px;
}

.about,
.achievement {
  margin: auto;
  width: 1000px;
  font-size: 20px;
}

.achievement span,
.achievement ul {
  float: left;
}

.profilepic img {
  width: 300px;
  float: left;
  margin-right: 30px;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px cyan;
}

.cats img {
  width: 350px;
  float: right;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px cyan;
}

.line1,
.line2,
.line3 {
  text-align: center;
}

.line1 {
  font-size: 60px;
  color: green;
}

.line2 {
  font-size: 50px;
  color: lightgreen;
}

.line3 {
  font-size: 40px;
}

h2 {
  /* line-height: 24px; */
  font-size: 16px;
  color: white;
  text-align: center;
}

.parts {
  text-align: center;
}

/* GLOWING BALL IN CENTER */
.row .center {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: inset 0 0 50px cyan, inset 20px 0 80px blue,
    inset -20px 0 80px green, inset 20px 0 300px blue, inset -20px 0 300px green,
    0 0 50px cyan, -10px 0 80px blue, 10px 0 80px green;
}

.row .center:hover {
  box-shadow: inset 0 0 50px gray, inset 20px 0 80px green,
    inset -20px 0 80px yellow, inset 20px 0 300px green,
    inset -20px 0 300px yellow, 0 0 50px gray, -10px 0 80px green,
    10px 0 80px yellow;
}

.weather {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

#wicon {
  width: 35px;
  height: 35px;
  margin: 0px;
}

.welcome,
.column {
  text-align: center;
}

.column img {
  width: 300px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  opacity: 25%;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 0px cyan;
}

.column img:hover {
  box-shadow: 0px 0px 100px 0px yellow;
  opacity: 100%;
}