@media (max-width: 1000px) {

  .i-body,
  .p-body {
    background-image: url(./assets/background/blackpaper-hires.jpg);
  }

  .column img {
    opacity: 45%;
  }

  .weather {
    display: none;
  }

  .row .center {
    display: none;
  }

  .card {
    max-width: 80%;
  }

  canvas {
    display: none;
  }

  .about,
  .achievement {
    max-width: 650px;
    font-size: 14px;
  }

  .profilepic img {
    width: 30%;
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px cyan;
  }

  .cats img {
    width: 300px;
    float: left;
    margin-left: 60px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px cyan;
  }

  .line1 {
    font-size: 50px;
    color: green;
  }

  .line2 {
    font-size: 40px;
    color: lightgreen;
  }

  .line3 {
    font-size: 30px;
  }
}