body {
  background-color: lightgreen;
}

.weather {
  font-size: 20px;
  font-weight: 600;
}

#wicon {
  width: 30px;
  height: 30px;
  margin: 0px;
}

.card-panel {
  font-size: 20px;
  height: 300px;
}

.profile {
  width: 350px;
  border: 1 px black solid;
  margin-left: 10px;
}

footer {
  text-align: center;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* THIS IS WHAT MAKES THINGS HAPPEN AT A WIDTH OF 40EM OR MOBILE SCREENS */
@media (max-width: 40em) {
  .climate {
    display: none;
  }

  .card-panel {
    font-size: 12px;
  }

  .profile {
    width: 100px;
  }
}