  .card {
    max-width: 80%;
  }

  .about,
  .achievement {
    width: 800px;
    font-size: 18px;
  }

  .profilepic img {
    width: 45%;
    float: left;
  }

  .cats img {
    width: 50%;
    float: right;
  }